<%- include('partials/header', { title: 'View Handymen' }) %> <%-
include('partials/nav') %>

<!-- <section class="handymen"> -->
<section class="values">
  <h2>Available Handymen</h2>
  <!-- <div class="card-grid"> -->
  <div class="values-grid">
    <% handymen.forEach(handyman => { %>
    <!-- <div class="handyman"> -->
    <div class="handyman-item">
      <!-- Use Cloudinary transformation for uniform image size -->
      <img
        src="<%= handyman.image.replace('/upload/', '/upload/w_800,h_800,c_fill,g_auto/') %>"
        srcset="
    <%= handyman.image.replace('/upload/', '/upload/w_1000,h_1000,c_fill,g_auto/') %> 1000w, 
    <%= handyman.image.replace('/upload/', '/upload/w_1200,h_1200,c_fill,g_auto/') %> 1200w"
        sizes="(max-width: 768px) 800px, (max-width: 1200px) 1000px, 1200px"
        alt="<%= handyman.name %>"
        class="handyman-image"
      />
      <div class="handyman-info">
        <h3><%= handyman.name %></h3>
        <p>Skill: <%= handyman.skill %></p>
        <p>Location: <%= handyman.location %></p>
        <p>Daily Pay: #<%= handyman.dailyPay %> Per Day</p>
        <p>Contact: <%= handyman.phoneNumber %></p>
        <a href="/handymen/<%= handyman._id %>" class="cta-button"
          >Get a Handyman Now</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</section>

<a href="/" class="fix_user">Back to Home</a>

<%- include('partials/footer') %>
